.aboutme {
  max-width: 1410px;
  width: 100%;
  padding: var(--space-40) var(--space-40);
  background-color: var(--background-paper);
  border-radius: 1.25rem;
  margin-inline: auto;
  margin-top: -40px;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 15px 0 var(--gray-08), 0 0px 0px 0 var(--gray-16);
}

.aboutme .aboutme__title {
  font-size: var(--fontsize-30);
  font-weight: 700;
  margin-bottom: var(--space-20);
  display: block;
}

.aboutme .aboutme__description {
  font-size: var(--fontsize-16);
  font-weight: 400;
  color: var(--gray-400);
  margin-bottom: var(--space-20);
  display: block;
}

.aboutme .aboutme__midia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-40);
  gap: var(--space-20);
  flex-wrap: wrap;
}

@media (max-width: 605px) {
  .aboutme {
    margin-top: -20px;
    max-width: calc(100% - 8%);
  }
}
